# Build
build/78799c4862efeb378f26a56425f94e85/
build/native_assets/
build/native_hooks/
build/flutter_assets/
!build/web

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Flutter
**/android/
**/ios/
**/macos/
**/linux/
**/windows/

# Node
backend/node_modules/
backend/.env

# Misc
*.log
